<<<<<<< HEAD
footer {
    background-color: white;
    height: 60px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

    border-top: 1px solid #CCCCCC;
}
=======
footer{
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.container {
    position: relative;
}

.centered-element {
    position: absolute;
    top: 50%;
    left: 50%;
}
>>>>>>> 92c369208ac4843a60746125755554453e6e4108
