header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url(../images/logo-Airbnb.png);
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}
